<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<div class="ibox">
			<div class="ibox-content" *ngIf="book">
				<div class="pull-right">
					<span>Author: {{book.author.username}}</span>
				</div>
				<div class="text-center article-title">
					<span class="text-muted"><i class="fa fa-clock-o"></i> {{book.dates.created | date}}</span>
					<h1>{{book.title}}</h1>
					<p>{{book.description}}</p>
				</div>
        <hr>
        <div class=".col-md-6" *ngIf="chapters">
					<div class="small text-right">
						<button [disabled]="isMute" class="btn btn-primary btn-xs" *ngIf="currentChapter !== 0" (click)="goPreviousChapter()">Previous Chapter</button>
						<button [disabled]="isMute" class="btn btn-primary btn-xs" *ngIf="chapters[currentChapter].next" (click)="goNextChapter()">Next Chapter</button>
					</div>
				</div>
        <hr>
				<div *ngIf="content" [innerHTML]="content"></div>
				<div class=".col-md-6" *ngIf="chapters">
					<div class="small text-right">
						<button [disabled]="isMute" class="btn btn-primary btn-xs" *ngIf="currentChapter !== 0" (click)="goPreviousChapter()">Previous Chapter</button>
						<button [disabled]="isMute" class="btn btn-primary btn-xs" *ngIf="chapters[currentChapter].next" (click)="goNextChapter()">Next Chapter</button>
					</div>
				</div>
				<hr>
				<div class="row">
					<div class="col-md-6">
						<h5>Url:</h5>
						<a [href]="book.urls.read" target="_blank" class="btn btn-primary btn-xs" type="button">Read on GitBook</a>
					</div>
					<div class="col-md-6">
						<div class="small text-right">
							<h5>Stats:</h5>
							<div *ngIf="book.counts.stars !== 0"> <i class="fa fa-star"> </i> {{book.counts.stars}} stars </div>
							<div *ngIf="book.counts.updates !== 0"> <i class="fa fa-clock-o"> </i> {{book.counts.updates}} updates </div>
							<div *ngIf="book.counts.subscriptions !== 0"> <i class="fa fa-user-plus"> </i> {{book.counts.subscriptions}} subscriptions </div>
							<div *ngIf="book.counts.discussions !== 0"> <i class="fa fa-comment"> </i> {{book.counts.discussions}} discussions </div>
							<div *ngIf="book.counts.collaborators !== 0"> <i class="fa fa-users"> </i> {{book.counts.collaborators}} collaborators </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
